/* ブラウザがそれぞれ持っているCSSをリセット */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}


/* floatによる回り込み回避 */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	height: 70px;
	background-color: #EC715F;
}

.header-board {
	width: 1024px;
	margin: 0 auto;
}

.header-img {
	height: 60px;
	float: left;
}

.nav-list {
	text-align: right;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 22px 30px 0 30px;
	font-size: 16px;
	color: #FAFAFA;
}

.main-visual {
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-text {
	padding-top: 200px;
	text-align: center;
}

.main-visual-title {
	font-size: 64px;
	color: #FAFAFA;
}

.main-visual-subtitle {
	margin-top: 10px;
	font-size: 20px;
	color: #FAFAFA;
}

main {
	margin: 0 auto;
}

.main-board{
	background-color: #ECEFF1;
}

.main-board:nth-child(even){
	background-color: white;
}

.portfolio {
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

.headline {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}

.line {
	width: 70px;
	height: 3px;
	background-color: #EC715F;
	margin: 0 auto;
}

.content {
	padding-top: 30px;
	font-size: 16px;
	color: #000000;
}

.br-sp {
	display: none;
}

.br-pc {
	display: block;
}

.text {
	padding-top: 30px;
}

.portfolio-box {
	float: left;
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
}

.portfolio-box:nth-child(1) {
	background-image: url(img/sketch.jpg);
	margin: 0 10px 10px 0;
}

.portfolio-box:nth-child(2) {
	background-image: url(img/websuku.png);
}

.portfolio-box:nth-child(3) {
	background-image: url(img/write.jpg);
	margin: 0 0 10px 10px;
}

.portfolio-box:nth-child(4) {
	background-image: url(img/webcamp.png);
}

.portfolio-box:nth-child(5) {
	background-image: url(img/talk.jpg);
	margin: 0 10px 0 10px;
}

.portfolio-box:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

.feature {
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

.strength1, .strength2, .strength3 {
	float: left;
}

.strength2 {
	margin: 0 10px 0 10px;
}

.strength-image i {
	font-size: 60px;
	color: #000000;
}

.strength-content {
	padding: 10px 0;
	font-size: 20px;
	color: #000000;
}

.strength-text {
	text-align: left;
	font-size: 16px;
	color: #000000;
}

.profile {
	width: 1024px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

.profile-left, .profile-right{
	width: 50%;
	float: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
}

.profile-content {
	padding-bottom: 5px;
	font-size: 20px;
	color: #000000;
	text-align: left;
}

.profile-text {
	padding-bottom: 8px;
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.profile-text-last {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.contact {
	width: 800px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}

.center {
	text-align: center;
	display: inline-block;
}

.contact-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
	text-decoration: underline;
}

.down20 {
	padding-bottom: 20px;
}

.wide190 {
	width: 190px;
}

.wide20 {
	padding: 0 20px;
}

.contact-image i {
	float: left;
	text-align: left;
	font-size: 50px;
	color: #000000;
}

footer {
	height: 60px;
	text-align: center;
	background-color: #EC715F;
}

.footer-text {
	font-size: 16px;
	color: #fff;
	padding: 15px 0;
}

@media screen and (max-width:768px) {
	body {
		padding:0 5%;
	}

	header {
		height: 50px;
	}

	.header-board {
		width: 100%;
		position: relative;
	}

	.header-img {
		height: 50px;
	}

	.nav-list {
		display: none;
	}

	.hamb {
		width: 42px;
		height: 42px;
		background-size: cover;
		background-position: center;
		background-image: url(img/hamb.png);
		margin: 3px 0;
		border: solid 1px #fff;
		position: absolute;
		right: 8px;
	}

	.main-visual {
		height: 750px;
		background-image: url(img/code.png);
	}

	.main-visual-title {
		font-size: 40px;
	}

	.main-visual-subtitle {
		font-size: 18px;
}

	.portfolio {
		width: 300px;
	}

	.br-sp {
		display: block;
	}

	.br-pc {
		display: none;
	}

	.portfolio-box {
		float: none;
		margin: 0 auto;
	}

	.portfolio-box:nth-child(odd) {
		display: none;
	}

	.portfolio-box:nth-child(2) {
		margin-bottom: 10px;
	}

	.portfolio-box:nth-child(4) {
		margin-bottom: 10px;
	}

	.feature {
		width: 95%;
	}

	.profile {
		width: 95%;
	}

	.contact {
		width: 95%;
	}

	.strength {
		width: 85%;
		margin: 0 auto;
		text-align: center;
	}

	.strength1, .strength2, .strength3 {
		float: none;
	}

	.strength1, .strength2 {
		margin-bottom: 10px;
	}

	.strength-text {
		display: inline-block;
	}

	.profile-right {
		text-align: center;
	}

	.profile-left, .profile-right{
		width: 100%;
		float: none;
	}

	.profile-image {
		margin-bottom: 20px;
	}

	.profile-content, .profile-text, .profile-text-last {
		text-align: center;
	}

	.contact-text:last-child {
		padding-bottom: 20px;
	}

	.wide190 {
		display: inline-block;
	}

	.fa {
		margin-left: 18px;
	}
	.wide20 {
		padding: 0 8px;
	}
}